



body {
background-color: gainsboro;
}

.container {
    display: flex;
    flex-direction: column;
}


.content {
    display: flex;
    width: 100%;
    height: 900px;
    background-color: gainsboro
    align-items: center;
    justify-content: center;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(70,107,136,1) 50%, rgba(0,212,255,1) 90%);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    border-radius: 30px;


}
/* columna 1----------------------------------------- */
.col1 {
    width: 30%;
    height: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
    border-radius: 30px;
}


.sales {
width: 100%;
height: 30%;
background-color: white;
margin: 5%;
border-radius: 30px;
box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}



.leaderboard {
    width: 100%;
    height: 70%;
    background-color: white;
    margin: 5%;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}















/* columna 1----------------------------------------- */




/* columna 2----------------------------------------- */



.col2 {
    width: 50%;
    height: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
    border-radius: 30px;
}

.saleschart {
    display: flex;
    width: 90%;
    height: 40%;
    background-color: white;
    margin: 1%;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }
    
    
    .leaderboardchart {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 50%;
        background-color: white;
        margin: 1%;
        border-radius: 30px;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }
    

    .piechart {
        width: 400px;
        height: 600px;
        align-items: center;
        justify-content: center;
        display: flex;
    }






/* columna 2----------------------------------------- */